<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.3.css">

</head>
<body>
    <h1>Parte adicionada pelo notebook dell</h1>
    <p>
        Adicionando uma nova seção para demonstrar a funcionalidade de notebook.
        Esta seção foi criada com o intuito de mostrar que o código HTML pode ser modificado sem afetar o funcionamento da página.
    </p>

    <button onclick="clique()">Clique aqui</button><br>

    <a href="../index.html">Voltar para a página principal</a>

    <script src="../script/script1.js"></script>
</body>
</html>